.table {
  width: 20vw;
  height: 50vw;
  background-color: #fffbe9;
  border: black solid 1px;
}

.row {
  display: flex;
}

.status {
  width: 100%;
  height: 5vw;
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HISTORY {
  width: 100%;
  height: 3vw;
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schore {
  width: 50%;
  height: 5vw;
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.history {
  width: 50%;
  height: 32vw;
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restart {
  width: 100%;
  height: 5vw;
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restart:hover {
  background-color: rgb(225, 197, 155);
}
